/Animated Checklist.txt
/assets
/editprofile.html
/HELP
/index.html
/index2.html
/Loading Button.txt
/Loading page.txt
/Login Page.html
/Login Page.txt
/login.html
/New Text Document.txt
/Photo Gallery - Metadata.txt
/Photo Gallery - Timeline.txt
/portfolio website
/Proj
/register.html
/Registration Page.txt
/search.html
/styles.css